body{
  font-size: 165%;
  text-align: center;
}

.tab-content{
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.modal-dialog {
  width: 700px;
  text-align: left;
}

h1{
  font-size: 225%;
}

h2{
  font-size: 175%;
}

blockquote {
  font-weight: none;
  font-size: 100%;
  border: 2px solid #ccc;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

div.resources {
  background-color:rgb(247, 251, 242);
  padding:20px 20px;
  margin-top:10px;
  margin-bottom:10px;
  border:1px solid black;
}

div.quiz {
  background-color:rgb(247, 249, 254);
  padding:20px 20px;
  margin-top:10px;
  margin-bottom:10px;
  border:1px solid black;
}
